[branch]
  sort = -committerdate

[commit]
  gpgSign = true

[core]
  autocrlf = {{ if eq .chezmoi.os "windows" }}true{{ else }}input{{ end }}

[diff]
  algorithm = histogram

[fetch]
  prune = true
  pruneTags = true

[gpg]
  format = ssh

[init]
  defaultBranch = main

[merge]
  conflictstyle = zdiff3

[pull]
  ff = only
  rebase = true

[push]
  autoSetupRemote = true

[rebase]
  autosquash = true
  autostash = true

[rerere]
  enabled = true

[tag]
  gpgSign = true

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/

[user]
  email = {{ .email }}
  name = {{ .name }}
  signingkey = ~/.ssh/id_ed25519.pub
